<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nodejs Leaflet</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

    <div id="map-template"></div>

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script>

        const map = L.map('map-template').setView([30.2672, -97.7431], 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var rows = <%- JSON.stringify(rows) %>;
       
        // Colors from red to green with worst sentiment at colors[0] and best at colors[length-1];
        var colors = ["#FF0000", "#FF3200", "#FF6400", "#FF9600", "#FFC800", "#FFFF00", "#C8FF00", 
                      "#96FF00", "#64FF00", "#32FF00", "#00FF00"];  

        var length = rows.length;
        console.log(length);
        for (var i = 0; i < length; i++){
            text = rows[i][1];
            date = rows[i][2];
            long = rows[i][3];
            lat = rows[i][4];
            sent = rows[i][5];

            mid = Math.floor(colors.length/2);
            color_index = mid;
            if(sent < 0)
                color_index = mid + Math.ceil(sent * mid);
            else if(sent > 0)
                color_index = mid + Math.floor(sent * mid);
            
            tweet_color = colors[color_index]; 

            var circle = L.circle([lat, long], {
                color: tweet_color,
                fillColor: tweet_color,
                fillOpacity: 0.5,
                radius: 1000
            }).addTo(map)
            .bindPopup("<b>Sentiment: </b>" + sent + "<br>\"" + text + "\"");
            
            //L.marker([lat, long]).addTo(map)
            //    .bindPopup("Sentiment: " + sent);
        }
    
    </script>
</body>
</html>